<!-- //? DA SE KREIRA NOV HTML FILE STO KJE SE VIKA REZULTAT-->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Rezultat</title>
</head>
<style>
/* STRANICATA DA IMA NEKAKOV STYLING(boi, background, flex, border) */
body{
  margin: 0 auto;
  background-color: rgba(25, 27, 29, 0.589);
  font-family: sans-serif;
  color: blanchedalmond;
}

.small-container{
margin: 0 auto;
margin-top: 200px;
padding: 10px;
width: 800px;
height: 200px;
background-color: rgb(34, 87, 185);
text-align: center;
border-radius: 10px;
border: 2px solid white;
}
</style>

<body>
  <!-- VO WEB STRANICATA DA IMA  NASLOV ZA STO SLUZI REZULTATOT -->
<!--I DA IMA PARAGRAPH SO KOJ KJE SE OBJASUNVA ZADADENATA FUNKCIJA -->
    <div class="small-container"> 
    <h1>{ime}</h1>
      <h2>Резултат: {data}</h2>
      <p>{opis}</p>
    </div> 
</body>
</html>