<!-- //? DA SE KREIRA NOV HTML FILE STO KJE SE VIKA REZULTAT-->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Rezultat</title>
</head>
<style>
/* STRANICATA DA IMA NEKAKOV STYLING(boi, background, flex, border) */
body{
  margin: 0 auto;
  background-color: rgba(201, 211, 218, 0.589);
  font-family: sans-serif;
  color: blanchedalmond;
}

.small-container{
margin: 0 auto;
width: 800px;
height: 200px;
background-color: rgb(34, 87, 185);
text-align: center;
border-radius: 10px;
}
</style>

<body>
  <!-- VO WEB STRANICATA DA IMA  NASLOV ZA STO SLUZI REZULTATOT -->
<!--I DA IMA PARAGRAPH SO KOJ KJE SE OBJASUNVA ZADADENATA FUNKCIJA -->
<div class="big-container">
    <div class="small-container"> 
    <h1>1.Пресметај плоштина на правоаголник</h1>
      <p>Плоштината на правоаголникот е: {data}</p>
    </div> 

    <div class="small-container">
      <h1>2.Претвори степени</h1>
      <p>Од °C во °F : {data}</p>

      <p>Од °F во °C : {data}</p>
    </div>

    <div class="small-container">
      <h1>3.Калкулатор</h1>
      <p>Збирот е: {data}</p>
      <p>Разликата е: {data}</p>
      <p>Производот е: {data}</p>
      <p>Количникот е: {data}</p>
    </div>

    <div class="small-container">
      <h1>4.Сила</h1>
      <p>Силата изнесува: {data}</p>
    </div>

    <div class="small-container">
      <h1>5.Пресметај плоштина на триаголник</h1>
      <p>Плоштината на триаголникот e: {data}</p>
    </div>
</div>


</body>
</html>